.navbar-laravel{
    background-color: #333;
}
.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color: #f5f5f5;
}
.card{
    border-radius: 0px;
    border: none;
}
.card-header{
    background-color: #333;
    color: #f5f5f5; 
}
.py-4{
    background-position: center;
    background-size: cover;
    background-image: url('../img/back.jpg');
    min-height: calc(100vh - 54.22px);
}